.btn {
  border: 0;
  outline: 0;
  background: $shamrock;
  color: $white;
  padding: 5px 8px;
  font: normal 600 12px/16px $font-primary;
  border-radius: 2px;
  cursor: pointer;

  @include m(secondary) {
    border: 1px solid $alto;
    padding: 8px 16px;
    color: $alto;
    background: none;
  }

  @include m(danger) {
    padding: 8px 16px;
    background: $pomegranate;
    color: $white;
  }
  @include m(margin) {
    margin-left: 10px;
  }
}
