{
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": ["eslint-config-leapfrog/react"],
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
