.certificate {
  @include e(row) {
    padding: 28px 0 25px;
    border-bottom: 1px solid $alto;
  }

  @include e(row-header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
  }

  .sub-title {
    cursor: pointer;
  }
}

.arrow-icon {
  margin-left: 6px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
