$font-primary: "Inter", sans-serif;

$dusty-gray: #999999;
$mine-shaft: #333333;
$deep-koamaru: #102b7b;
$white: #ffffff;
$mercury: #e6e6e6;
$shamrock: #2ecc71;
$alto: #d2d2d2;
$dodger-blue: #29b6f6;
$gallery: #eeeeee;
$pomegranate: #f44336;
$wild-sand: #f6f6f6;
$dove-gray: #666666;
$nobel: #b3b3b3;
$dove-gray-light: #737373;
$black: #000000;
$tertiary-blue: #f4f7f9;
