$font-primary: 'Inter', sans-serif;

$dusty-gray: #999999;
$mine-shaft: #333333;
$deep-koamaru: #102B7B;
$white: #ffffff;
$mercury: #E6E6E6;
$shamrock: #2ECC71;
$alto: #D2D2D2;
$dodger-blue: #29B6F6;
$gallery: #EEEEEE;
$pomegranate: #F44336;
$wild-sand: #F6F6F6;
$dove-gray: #666666;
$nobel: #B3B3B3;
$dove-gray-light: #737373;
$black: #000000;
