// color name
$cinder: #08080d;
$white: #ffffff;
$black: #000000;
$french-grey: #cacbcf;
$botticelli: #dae2ee;
$ebony-clay: #242a42;
$nepal: #97a6bd;
$slate-gray: #627188;
$mine-shaft: #343434;
$manatee: #8087a7;
$manatee-light: #9499a8;
$eastern-blue: #1199b7;
$java: #19a9c4;
$athens-gray: #f4f5f8;
$gray: #8c8c8c;
$polar: #d6f0f5;
$storm-gray: #666b81;
$foam: #effafe;
$electric-violet: #bd10e0;
$periwinkle-gray: #d7ddef;
$azure-radiance: #008cff;
$white-lilac: #e8ecf6;
$cornflower: #88bde6;
$cornflower-blue: #0076ff;
$storm-grey: #666b86;
$zircon: #e9eeff;
$pigeon-post: #bcc5df;
// font
$font-primary: 'Poppins';
$font-secondary: 'Futura';
