
// color name
$cinder: #08080d;
$white: #ffffff;
$black: #000000;
$french-grey: #cacbcf;
$botticelli: #DAE2EE;
$ebony-clay:#242A42;
$nepal:#97A6BD;
$slate-gray: #627188;
$mine-shaft: #343434;
$manatee: #8087A7;
$manatee-light: #9499A8;
$eastern-blue: #1199B7;
$java: #19A9C4;
$athens-gray: #F4F5F8;
$gray: #8C8C8C;
$polar: #D6F0F5;
$storm-gray: #666B81;
$foam: #EFFAFE;
$electric-violet: #BD10E0;
$periwinkle-gray: #D7DDEF;
$azure-radiance: #008CFF;
$white-lilac: #E8ECF6;
$cornflower: #88BDE6;
$cornflower-blue: #0076FF;
$storm-grey: #666B86;
$zircon: #E9EEFF;
$pigeon-post: #BCC5DF;
// font
$font-primary: 'Poppins';
$font-secondary: 'Futura';