@font-face {
  font-family: Poppins;
  src: url('../../assets/fonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Futura;
  src: url('../../assets/fonts/futura-pt.otf');
  font-weight: normal;
  font-style: normal;
}
