.srt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  %clearfix-none {
    display: inline;
  }
  
  %pseudos {
    display: block;
    content: '';
    position: absolute;
  }
  
  %ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  
  .float-left{
    float: left !important;
  }
  
  .float-right{
    float: right !important;
  }