.achievements-block {
  margin-top: 25px;
}

.achievements {
  @include e(row) {
    padding: 28px 0 25px;
    border-bottom: 1px solid $alto;
  }

  @include e(row-header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
  }

  @include e(period) {
    color: $mine-shaft;
  }
}
