.skills-block {
  margin-top: 25px;
}

.skills {
  @include e(row) {
    padding-top: 25px;
  }

  @include e(row-header) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.chip-input-value {
  border-bottom: 1px solid $alto;
  padding: 18px 0;

  @include focus {
    outline: 0;
  }
}

.chip-input-tag {
  background: $wild-sand;
  border-radius: 90px;
  padding: 8px 16px;
  margin-right: 8px;
  color: $dove-gray;
  font: normal 600 14px/17px $font-primary;

  &:last-child {
    margin-right: 0;
  }
}
