.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: $black, $alpha: 0.7);
  width: 100%;
  height: 100vh;
  z-index: 500;
  overflow: auto;
  display: flex;
  align-items: center;
  animation-name: animate;
  animation-duration: 0.5s;
}

.form {
  width: 502px;
  margin: auto;
  font: normal normal 12px/15px $font-primary;

  @include e(header) {
    font: normal bold 24px/29px $font-primary;

    @include m(dark) {
      color: $black;
    }
  }

  @include e(radio-field) {
    margin-top: 18px;
  }

  @include e(radio-field-content) {
    display: flex;
    align-items: center;
  }

  @include e(checkbox-field) {
    .input {
      margin-top: 12px;
    }
  }

  @include e(date-field) {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }

  .btn {
    padding: 8px 16px;

    @include m(cancel) {
      margin-left: 20px;
    }
  }

  .field-error {
    border: 1px solid $pomegranate;
  }
}

.form-button {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e(right) {
    display: flex;
    align-items: center;
  }
}

.add-container {
  cursor: pointer;
  margin-top: 18px;
  padding: 12px 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #B3B3B3;
  border-bottom: 1px dashed #B3B3B3;
  @include e(text) {
    color: $dusty-gray;
  }
}

@include keyframes(animate) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
