.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $white;

  @include e(left-content) {
    display: flex;
    align-items: center;
  }

  .logo-wrapper {
    margin-right: 48px;
  }

  @include e(app-info) {
    font: normal 600 14px/17px $font-primary;
    color: $dusty-gray;
  }
}

.profile {
  display: flex;
  align-items: center;

  @include e(name) {
    font: normal 600 14px/17px $font-primary;
    color: $mine-shaft;

    @include m(large){
      font: normal bold 24px/28px $font-primary;
    }
  }

  @include e(status) {
    font: normal normal 12px/15px $font-primary;
    color: $dusty-gray;

    @include m(dark){
      color: $black;
    }
  }

  .dropdown {
    margin-left: 8px;
    cursor: pointer;
  }
}
