.btn {
  border: 0;
  outline: 0;
  background: $shamrock;
  color: $white;
  padding: 5px 8px;
  font: normal 600 12px/16px $font-primary;
  border-radius: 2px;
  cursor: pointer;

  @include m(cancel) {
    border: 1px solid $alto !important;
    padding: 8px 16px;
    color: $alto !important;
    background: none !important;
  }
}
