.title {
  font: normal 500 25px/24px $font-secondary;
  text-align: center;
  padding-bottom: 20px;

  @include m(small) {
    font: normal 500 20px/24px $font-secondary;
  }
}

.container {
  background: $white;
  border-radius: 10px;
  padding: 20px;
}
