@import 'global';
@import './Header/header';
@import './UserDetail/userdetail';
@import './Media/media';
@import './Button/button';
@import './Dashboard/dashboard';
@import './Sidenav/sidenav';
@import './Card/card';
@import './Contact/contact';
@import './PersonalInformation/personal-information';
@import './Skills/skills';
@import './WorkExperience/work-experience';
@import './ProjectsUndertaken/projects-undertaken';
@import './Achievements/achievements';
@import './Certificate/certificate';
@import './Form/form';
